<h3>This data was generated by: <a>http://roycekimmons.com/tools/generated_data/exams</a><br>
<br>
The data is fictional and only being used for modeling purposes.
<br>
<br>
In order to create a larger training dataset, I downloaded 5 batches of of the large sample (1,000 rows). Each batch is randomly generated on the fly, so each one is different. In this notebook, I combine those into a single 5,000 row CSV file to use for the rest of the project.

In [1]:
import glob
import pandas as pd
print('Pandas version used: ' + pd.__version__)

Pandas version used: 1.0.5

In [2]:
# Find all of the files in this directory with the .csv format
all_exam_files = glob.glob('../Datasets/separate_csv_files/*.csv')

In [3]:
# Make sure we got all of the correct files:
all_exam_files

['../Datasets/separate_csv_files\\exams_1.csv',
 '../Datasets/separate_csv_files\\exams_2.csv',
 '../Datasets/separate_csv_files\\exams_3.csv',
 '../Datasets/separate_csv_files\\exams_4.csv',
 '../Datasets/separate_csv_files\\exams_5.csv']

In [4]:
# Read each of the files into a dataframe and then concatenate the dataframes together:
stu_perf_raw = pd.concat(pd.read_csv(file) for file in all_exam_files)

In [5]:
# Reset the index so that is goes from 0->9999 instead of 0->99 10 times:
stu_perf_raw.reset_index(drop=True, inplace=True)

In [6]:
# Final check before saving the combined file:
stu_perf_raw

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,some high school,standard,none,71,59,54
1,female,group B,some high school,free/reduced,none,40,51,49
2,male,group B,associate's degree,standard,none,87,73,75
3,male,group C,some high school,standard,none,69,53,55
4,female,group C,high school,standard,none,74,79,72
...,...,...,...,...,...,...,...,...
4995,male,group C,some college,standard,none,49,46,40
4996,female,group C,associate's degree,standard,none,43,46,47
4997,female,group C,associate's degree,standard,none,67,88,80
4998,male,group C,high school,free/reduced,completed,63,73,68
4999,female,group D,master's degree,free/reduced,none,41,50,61

In [7]:
# Save the new csv file to the Datasets folder:
stu_perf_raw.to_csv("../Datasets/stu_perf_raw.csv", index=False)